<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Low Light Image Enhancement</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>LOW LIGHT IMAGE ENHANCEMENT FOR CCTV SURVEILLANCE</h1>

    <form id="uploadForm">

        <!-- Custom Upload Button -->
        <label for="imageInput" class="custom-file-upload">
            📁 Choose Image
        </label>
        <input type="file" id="imageInput" name="image" required>

        <!-- File Name -->
        <div id="fileName">No file selected</div>

        <!-- Submit -->
        <button type="submit">Enhance Image</button>

    </form>

    <!-- Preview Section -->
    <div class="preview">

    <div class="card">
        <h3>Original</h3>
        <img id="originalPreview">
        <p class="desc">
            The original low-light image captured from CCTV, often with poor visibility and low contrast.
        </p>
    </div>

    <div class="card">
        <h3>CLAHE</h3>
        <img id="clahePreview">
        <p class="desc">
            CLAHE (Contrast Limited Adaptive Histogram Equalization) improves local contrast and enhances visibility in dark regions.
        </p>
    </div>

    <div class="card">
        <h3>Gamma</h3>
        <img id="gammaPreview">
        <p class="desc">
            Gamma correction adjusts brightness levels, making darker areas more visible without overexposing the image.
        </p>
    </div>

    <div class="card">
        <h3>Face Detection</h3>
        <img id="facePreview">
        <p class="desc">
            Detects human faces in the image using Haar Cascade, useful for surveillance and security analysis.
        </p>
    </div>

</div>
</div>

<script src="/static/script.js"></script>

</body>
</html>